.section-body{
    display: flex;
    margin-left: 320px;

}
.section-left{
    margin-left: 100px;
}

.section-left img{
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 90px;
}
/* .separator{
    width: 6px;
    background-color: black;
    height:90%;
    margin-top: 30px;
    margin-bottom: 20px;
} */

.section-right h1{
    margin-top: 20px;
}
.section-right h2{
    margin-top: 20px;
}
.div-right{
    margin-top: 30px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 3px#00345030;
    width: 90%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.div-right h3{
    margin-bottom: 5px;
}
.div-right p{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.div-right button{
    border-radius: 15px;
    border: none;
    padding: 6px; 
    width: 80px;
 }

 @media screen and (max-width: 768px) {
    .main-div{
        margin: 0;
        padding: 0;
        display: block;

    }
    .navbar{
        width: 100%;
        height: 100px;
    }
    .profile, .navbar ul{
        display: none;
    }
    .section-body{
        margin: 0;
        display: block;
    }
    .section-left{
        display: block;
    }
    .section-left img{
        display: none;
    }
    .seperator{
        display: none;
    }
    .section-right{
        display: block;
        width: 100%; 
    }
    .div-left{
        
        display:block;
    }
    .div-right{
        
        display:block;
    }
}
@media screen and (max-width: 1122px){
  
}